@import "./_colors";

.HomeSlide {
  width: 100%;
  .slide-itemm {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    color: #fff;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    position: relative;
    img {
      position: absolute;
      inset: 0 0 0 0;
      object-fit: cover;
    }
    h1 {
      font-size: 4.5em;
      letter-spacing: 2px;
      color: #fff;
    }
    .slide-content {
      width: 86%;
      z-index: 2;
      margin: 0 auto;
      text-align: center;
    }
  }
}
