@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  line-height: 1.4;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.main {
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
}

.slick-slider {
  height: 700px;
  background: transparent;
}


.slick-slide>div {
  height: 100%;
}

.slick-list, .slick-track, .slick-slide {
  height: 100%;
}

.slick-next, .slick-prev {
  width: 29px !important;
  overflow: hidden;
  height: auto;
  right: 30px;
}

.slick-prev {
  left: 30px;
  z-index: 22;
}

.slick-next::before,
.slick-prev::before {
  content: url('./assets/images/arrows.png');

}

.slick-next::before {
  position: relative;
  right: 25px
}